<section class="dashboard-card">
    <div class="card">
        <div class="title">
            <h4>New Post</h4>
        </div>
        <div class="dash-container">
            <div class="input-box">
                <label for='title'>Title</label>
                <input id="textBox1" type="text">
            </div>
            <div class="input-box">
                <label for='title'>Content</label>
                <textarea id="textBox2"></textarea>
            </div>
            <div class="btn-box">
                <button id="submitBtn" class="btn">submit</button>
            </div>
        </div>
    </div>
</section>
<script src="/javascript/post.js"></script>