<form>
    <div class="login-card">
     <div class="title">
         <h4>Sign Up</h4>
     </div>
     <div class="contain">
         
         <div class="input-box">
             <label for="username">Username</label>
             <input id="userEle" placeholder="janedoe" type="text">
         </div>
         <div class="input-box">
             <label for="password">Password</label>
             <input id="passEle"  type="password">
         </div>
         <div class="input-box">
             <button class="btn" id="sign-btn" >Sign Up</button>
             <a href="/login">Go back</a>
         </div>
     </div>
    </div>
</form>

<script src="/javascript/signup.js"></script>