<section class="dashboard-card">
    <div class="card">
        <div class="title">
            <h4>New Post</h4>
        </div>
        <div class="dash-container">
            <div class="input-box">
                <label for='title'>Title</label>
                <input id="textBox1" value="{{upPost.title}}" type="text">
            </div>
            <div class="input-box">
                <label for='title'>Content</label>
                <textarea id="textBox2">{{upPost.comment}}</textarea>
            </div>
            <div class="btn-box">
                <button id="updateBtn" class="btn">Update</button>
            </div>
            <div class="btn-box">
                <button id="deleteBtn" class="btn">Delete</button>
            </div>
        </div>
    </div>
</section>

<script src="/javascript/dashboard.js"></script>