*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: var(--primary) ;
}
:root{
  --primary: rgb(225, 240, 200);
  --secondary:rgb(55, 28, 28);
}

main{
  height: 500px;
  overflow:scroll;
  overflow-x:hidden;
}

.infoBox{
  display: flex;
  justify-content: space-between;
}

.notice{
  margin-right: 20px;
  width: 220px;
  background-color: var(--secondary);
}

.nav-tab{
  display: flex;
  justify-content:space-between ;
  list-style-type: none;
  width: 400px;
  padding: 2em;
  font-size: 17px;
  cursor: pointer;
}

.nav-tab li a{
  text-decoration: none;
  color: var(--primary);
}

.dash-btn{
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  cursor: pointer;
  font-size: 18px;
}

nav{
 color:var(--primary);
  background-color: var(--secondary);
  padding-bottom: 1em;
}

.brand-logo{
  padding: .3em;
  border: 1px solid rgb(225, 240, 200);
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 10px;
  box-shadow: 6px 6px gray;
  width: 280px;
  margin-left: 2em;
  margin-bottom: 20px;
  text-align: center;
  font-size: 23px;
  text-shadow: 2px 3px 3px gray;
}

.login-card{
  border: 3px solid var(--secondary);
  width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 3px 3px gray;
}

.login-card .title{
  background-color: var(--secondary);
  color: var(--primary);
  padding: 1em;
}

.input-box{
  padding: 1em;
  display: flex;
  flex-flow: column;
}

.input-box input,textarea{
  padding: .6em;
  margin-left: 10px ;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
}

.input-box label{
  margin-left: .8em;
  margin-bottom: .2em;
}

.input-box a{
  margin: 0 auto;
  margin-top: .2em;
}

.btn{
 background-color: var(--secondary);
 color: var(--primary); 
 width: 120px;
 padding: .5em;
 font-size: 18px;
 margin: 0 auto;
 border-radius: 10px;
}

.blog-card{
  border: 3px solid var(--secondary);
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  box-shadow: 2px 3px 3px gray; 
}

.blog-card .title-content,.links{
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  color: var(--primary);
  padding: .5em;
}

.blog-card .title-content .user-date{
 font-style: italic;
 font-weight: 300;
}

.blog-card .content{
  padding: .5em;
  
}
.blog-card .content .content-text{
  font-size: 24px;
}

.card{
  border: 3px solid var(--secondary);
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  box-shadow: 2px 3px 3px gray; 
}

.card .title{
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  color: var(--primary);
  padding: .5em; 
}

.input-box textarea{
  resize: none;
  height: 100px;
  font-family: sans-serif;
  border: 2px solid black;
  outline: none;
}

.dashboard-card{
  display: flex;
  flex-flow: column;
  justify-content:flex-end;
}

.post-button,.add-post{
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
}

.btn-box{
  margin: 30px;
}

.post-list,.title-text{
  width: 720px;
  background-color: var(--secondary);
  color: var(--primary);
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  margin-top: 20px;
  font-size: 23px;
}

.post-list{
  box-shadow: 2px 3px 3px gray;
}

.list-scroll{
  height:320px;
  overflow:scroll;
  overflow-x:hidden;
  margin-bottom: 5px;
  border-bottom: 3px solid var(--secondary);
}

.list-title{
  color: var(--secondary);
  border-bottom:3px solid var(--secondary);
  margin: 2em;
  font-size: 24px;
  margin-bottom: 5px;
  font-style: italic;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.notice{
  -webkit-animation-duration: 20s;animation-duration: 20s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}